{% extends "base.html" %}
{% block title %}CC - A1 - Task2{% endblock %}
{% block content %}

    <div class="d-flex flex-column border rounded w-75">
        <div class="p-xl-5">
            <h1>Task 2 - 3</h1>
            <p>
                <small class="text-muted"></small>
            </p>
        </div>

        <div class="row px-xl-5 pb-xl-5">
            <div class="col">
                <table class="table">
                    <thead class="text-muted">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="align-baseline">

                        <tr>

                                <td></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}