{% extends "base.html" %}
{% block title %}CC - A1 - Task2{% endblock %}
{% block content %}

    <div class="d-flex flex-column border rounded w-75">
        <div class="p-xl-5">
            <h1>Task2 - 2</h1>
            <p>
                <small class="text-muted">Top 50 countries with the highest total trade deficit value of goods from 2014
                    to 2016 with “F” status</small>
            </p>
        </div>

        <div class="row px-xl-5 pb-xl-5">
            <div class="col">
                <table class="table">
                    <thead class="text-muted">
                    <tr>
                        <th scope="col">Country Label</th>
                        <th scope="col">Product Type</th>
                        <th scope="col">Trade Deficit Value</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody class="align-baseline">

                    {% for row in rows %}
                        <tr>
                            {% for column in row %}
                                <td>{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}